body {
    font-family: bangla, sans-serif;
    padding-bottom: 10%;
}
@page {
        header: page-header;
        footer: page-footer;
    }

h1 {
    text-align: center;
    padding-top: -2%;
}

h4 {
    text-align: center;
    padding-top: -4%;
}

.print_title{
    text-align: center;
    font-size: 17.5px;
}

.print_body_all {
    padding-left: 1%;
}

.all_info {
    text-align: justify;
}

.print_body_single_project_expenditure,
table,
th,
td {
    border: 0.5px solid black;
    border-collapse: collapse;
    text-align: center;
}

.print_body_single_project_expenditure,
table,
th {
    position: fixed;
    bottom: 2cm;
    left: 0cm;
    right: 0cm;
    height: 2cm;
}


.page-break {
    page-break-after: always;
}
.page-2{
    padding-bottom: 10%;
}

.print_title{
    padding-top:8%;
}
/**
    Set the margins of the page to 0, so the footer and the header
    can be of the full height and width !
**/

/** Define the header rules **/
header {
    padding-bottom: 60px;
    position: fixed;
}

/** Define the footer rules **/
footer {
    position: fixed;
    bottom: 0.5cm;
    left: 0cm;
    right: 0cm;
    height: 0cm;
}

img{
    padding-right:-5px;
}

.total{
    font-weight: bold;
    text-align: right;
    padding: 0% 1%;
}

.total-value{
    font-weight: bold;
    padding: 0% 1%;
}
